name: Deploy Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PROJETO_PLB }}
        run: |
          echo "$GOOGLE_APPLICATION_CREDENTIALS" > serviceAccount.json
          export GOOGLE_APPLICATION_CREDENTIALS=serviceAccount.json
          firebase deploy --only hosting
